<h1>Log In</h1>
<%= form_tag  url: sessions_login_path do %>
<%=label_tag :email %>
<%=email_field_tag :email %><br><br>

<%=label_tag :password %>
<%=email_field_tag :password %><br><br>

<%= submit_tag "Log In" %>
<% end %>




<!-- <form_for class="login-form" action="/login" method="post">
  <input type="text" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
</form>

<form class="" action="index.html" method="post">
  <input type="text" name="" value="">
</form> -->
